Nsxiv.window.background: black

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
*.vt100.reverseVideo: true

XTerm*faceName: Noto Sans Mono
XTerm*faceSize: 12

XTerm*utf8: always
XTerm*metaSendsEscape: true
